
/**
 * Badge list
 */
.local-ibob ul.badgelist {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 10px;
}
.local-ibob .ibob-badge a {
    color: inherit;
    text-decoration: none;
    display: block;
}
.local-ibob .ibob-badge img {
    max-height: 90px;
    margin: 15px 0;
}
.local-ibob .ibob-badge {
    text-align: center;
    float: left;
    margin: 0 15px 15px 0;
    width: 120px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    color: #929292;
    box-shadow: 0 4px 0 #dcdcdc;
}
.local-ibob .ibob-badge:hover {
    border-color: #aaa;
}
.local-ibob .ibob-badge p.badgename {
    margin: 0;
    padding: 5px 10px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
}
.local-ibob .ibob-badge p.badgename:before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    border-top: 2px dashed #bfbfbf;
}
#page-user-profile .node_category .local-ibob ul.badgelist li {
    display: inline-block;
}
.ibob-userconfig-group ul.badgelist li {
    display: inline-block;
}
.local-ibob .ibob-badge:not(.large) p.description {
    display: none;
}
.local-ibob .ibob-badge.large {
    width: 280px;
}
.local-ibob .ibob-badge.large img {
    float: left;
    margin-left: 15px;
}
.local-ibob .ibob-badge.large p.badgename {
    outline: medium none;
    padding-left: 0;
    color: #1177d1;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.1em;
    width: 140px;
    text-align: left;
    overflow: auto;
    white-space: normal;
}
.local-ibob .ibob-badge.large p.badgename:before {
    display: none;
}
.local-ibob .ibob-badge.large p.description {
    text-align: left;
    position: relative;
    height: 4.8em;
    line-height: 1.2em;
    overflow: hidden;
    word-wrap: break-word;
}
.local-ibob .ibob-badge.large div.body {
    float: left;
    display: inline-block;
    width: 140px;
    margin: 15px;
    height: 8.6em;
}
/**
 * Badge Detail (modal)
 */
.ibob-modal .image-wrapper {
    float: left;
    width: 25%;
    text-align: center;
}
.ibob-modal h1.badgename {
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1em;
}
.ibob-modal img {
    max-width: 100%;
}
.ibob-modal .ibob-modal-detail {
    margin-left: 25%;
    padding-left: 15px;
    min-height: 14em;
}
.ibob-modal .ibob-modal-detail a {
    color: #1177d1;
    text-decoration: none;
}
.ibob-modal label {
    display: inline-block;
    font-weight: 700;
    color: #7f7179;
    margin-right: 0.5em;
}
.ibob-modal label:after {
    content: ":";
}
.ibob-assertion .ibob-modal-detail-issuer {
    width: 45%;
    float: right;
}
.ibob-assertion .ibob-modal-detail-description {
    width: 45%;
    float: left;
}
.ibobenrol-activatebadge {
    width: 25px;
}
/**
 * Badge details
 */
img.ibob-icon {
    padding: 0 0 0 5px;
}
.ibob-badgewrapper {
    overflow: hidden;
}
.ibob-badgeimage {
    float: left;
    margin-left: 20px;
    width: 120px;
}
.ibob-badgedetails {
    margin-left: 160px;
    width: 100%;
}
.ibob-badgeteaser {
    overflow: hidden;
}
table.ibob-table th {
    width: 120px;
}
.path-local-ibob .yui3-tab-panel {
    display: none;
}
.path-local-ibob .yui3-tab-panel-selected {
    display: block;
}
.path-local-ibob .ftext input,
.path-local-ibob .felement textarea {
    width: 90%;
}
/*
    config form
*/
#page-local-ibob-config #id_url {
    width: 90%;
}
/* Displayer in Moodle Boost theme */
.block_ibob_displayer .badgelist li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1em;
    text-align: center;
    max-width: 25%;
    vertical-align: top;
}

.block_ibob_displayer .badgelist li img {
    max-width: 100%;
    height: 125px;
    margin-bottom: 1em;
}

.block_ibob_displayer .badgelist li .large img {
    max-width: 100%;
    height: 200px;
}
/* Sidebar view */
#block-region-side-pre .block_ibob_displayer .badgelist li {
    margin: 0 6px;
}
#block-region-side-pre .block_ibob_displayer .badgelist li .badgename {
    font-size: 10px;
}
#block-region-side-pre .block_ibob_displayer .badgelist li img {
    width: auto;
    height: auto;
}
#block-region-side-pre .block_ibob_displayer .badgelist li .description {
    display: none;
}
